.landingPage {
    width: 100vw;
    height: 100vh;
    background-color: #1d3557;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logoDiv {
    width: 15rem;
    min-height: 15rem;
    background-color: transparent;
    background-image: url('../../utilities//logoS.png');
    background-size: contain;
    position: relative;
}

.toggleMessage {
    display: flex;
    text-align: center;
    width: 72vw;
    min-height: 10vh;
    position: absolute;
    top: 30vh;
}
.toggleMessage p {
    margin-right: 1%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 80vw;
    min-height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.radioSec{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-width: 900px) {
     form {
        width: 50vh;
    }
  }