.landingPage {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 80vw;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.radioSec{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
