.feedPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    position: relative;
    top: 5rem;
}

.singlePost {
    width: 100vw;
    /* height: 20rem; */
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    /* border-radius: 10px; */
    padding: 1%;
    margin: 2%;
    background-color: white;
}

.singlePostContent{
    width: 100%;
    height: 60%;
    /* background-color: blanchedalmond; */
    /* border-radius: 10px; */
    font-size: medium;
    padding: 1%;
}
.writeComment{
    width: 100%;
    min-height: 6vh;
    /* background-color: gainsboro; */
    margin-top: 1%;
    padding: 1.5%;
    border-bottom: 1px black solid;
}

.postImage {
    width: 100%;
    height: 30vh;
    background-color: teal;
}

 .singlePost .writeComment .ui .comment {
     display: flex;
     justify-content: stretch;
     align-items: center;
     text-align: center;
     height: 5vh;
 }


.comment textarea {
   width : 73vw;
   height: 100%;
   background-color: #A9A9A9;
   border : none ;
   color: white;
   border-top-left-radius : 10px;
   border-bottom-left-radius : 10px;
   padding: 2%;
   margin-left: 0;
}
textarea::placeholder {
    color: white;  
}

.comment button {
    height: 100%;
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    border: none;
    width: 12vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.comment button i {
    color: white;
}
