.profileSec{
    /* min-width: 60vw; */
    /* max-width: 60vw; */
    width: 100vw;
    /* height: 100vh; */
    position: relative;
    top: 5rem;
    background-color: blue;
}

.profileBio{
    width: 100%;
    min-height:  50%;
    display: flex;
    background-color: white;
}

.profileBioImage {
   width: 50%;
   height: 100%;
   /* border-right: 2px solid black;  */
   padding: 5%;
}
.profilePic {
    width: 100% ;
    height: 100%;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    /* border: 1px blue solid; */
    margin: auto;
}

.uploadImage {
    width: 80vw;
    height: 5vh;
    display: flex;
    margin-top: 2%;
}

.uploadImage input {
    width: 65%;
    height: 100%;
}
.uploadImage button {
    width: 35%;
    height: 100%;
}
.profileBioInfo {
    width: 60%;
   height: 100%;
   padding: 5%;
}

.profileNewPost {
    width: 100%;
    height: 25vh;
    /* background-color: burlywood; */
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: white;
}
textarea {
    width: 90%;
    height: 50%;
    font-size: 16px !important;
    border-radius: 10px;
    padding: 2%;
}

.peopleYouMayKnow {
    width: 100%;
    height: 40vh;
    background-color: blue;
    /* padding: 1%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-sizing: border-box;
}