.notificationSec {
    width: 100vw;
    min-height: 5vh;
    background-color: blue;
    color: white;
    position: fixed;
    top: 4.5rem;
    z-index: 10;
    padding: 1%;
    border-bottom: 2px solid black;
}