.notificationSec {
    width: 100vw;
    min-height: 5vh;
    background-color: #264653;
    color: white;
    position: fixed;
    top: 4.5rem;
    z-index: 10;
    padding: 1%;
}

.peopleYouMayKnowSec , .sponseredSec {
    width: 100vw;
    height: 40vh;
    background-color: #264653;
    padding: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.peopleYouMayKnow , .sponseredAd{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-sizing: border-box;
}
.sponseredAd{
    width: 80%;
    height: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.adImage {
    width: 100%;
    height: 60%;
}
.adInfo {
    width: 100%;
    height: 40%;
    padding: 1%;
} 
.adInfoDetails {
    color: black;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.adInfoDetails h4{
    margin: 0;
}

.sponseredSec {
    background-color: white;
}

.searchBoxSec {
    width: 100vw;
    min-height: 7vh;
    background-color: #264653;
    color: white;
    position: fixed;
    top: 4.5rem;
    z-index: 10;
   }
.serachBox {
    width: 100vw;
    min-height: 5vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: transparent;
    padding: 1%;
}

.serachBoxInput {
    width: 100%;
    height: 4vh;
    padding: 1%;
    border: none;
    background-color: transparent;
    margin: auto;
    color: white;
    font-size: 16px;
}

.serachBox input::placeholder {
    color: white;
}
.serachBox i {
    color: white;
}

.searchResultsUI {
    padding: 1%;
    width: 100vw;
    color: white;
}


@media only screen and (min-width: 900px) {
    .peopleYouMayKnowSec , .sponseredSec {
        width: 60vh;
        border : 1px solid black;
    }
    .searchBoxSec {
        width: 40vw;
        margin-top: 1.5%;
        border-radius: 15px;

    }
  }